.tabs-and-col{
    min-height: 200px;
}

/* ======= TABS START ========== */

.tabs{
    padding-top: 50px;
}

.tabs ul{
    list-style-type: none;
}

.tabs-head li{
    display: inline-block;
}

.tabs-head li a{
    padding: 10px;
    background: #0DBF8E;
    color: #fff;
    font-size: 24px;
}

.tabs-head li.active a{
    color: #272727;
}

.tabs-content li{
    display: none;
}

.tabs-content li:first-child{
    display: block;
}

.tabs-content li.active{
    display: block;
}

/* ======= TABS END ========== */

/* ======= COLLAPSE START ========== */

.my-collapse{
    padding-top: 35px;
}

.my-collapse h4{
    cursor: pointer;
}

.my-collapse h4.active{
    color: #0DBF8E;
}

.my-collapse-content.open{
    display: block;
}

.my-collapse p{
    display: none;
}

/* ======= GALLERY START ========== */

.gallery{
    margin-top: 50px;
    width: 100%;
    min-height: 300px;
}

.gallery-disp img{
    width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.gallery-thumbs{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.gallery-thumbs img{
    max-width: 100px;
    height: auto;
    border: 3px solid transparent;
}

.gallery-thumbs li{
    display: inline-block;
}

.gallery-thumbs li.active img{
    /*box-shadow: 1px 0 11px #065B94;*/
    border: 3px solid #0DBF8E;
}

/* ======= GALLERY END ========== */

/* ======= SLIDER START ========== */

.slider-list-wrap{
    width: 400px;
    overflow: hidden;
    padding-top: 50px;
}

.slider-list{
    padding: 0;
    list-style-type: none;
    width: 2000px;
    position: relative;
    transition: 0.3s;
    left: 0;
}

.slider-item{
    float: left;
}

.slider-item img{
    width: 100%;
    height: auto;
    display: block;
}

.slider-control {
    padding: 0;
    margin-top: 15px;
}

.slider-control li{
    display: inline-block;
    background: #0DBF8E;
}

.slider-control li a{
    padding: 20px;
    color: #fff;
    display: inline-block;
}
/* ======= SLIDER END ========== */

.modal-overlay{
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.my-modal{
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
}

.close{
    font-size: 34px;
}

*{
    box-sizing: border-box;
}

.squares{
    position: relative;
    width: 410px;
    height: 410px;
    margin: 50px auto;
    border: 5px solid #272727;
}

.square{
    width: 100px;
    height: 100px;
    background: #0DBF8E;
    border: 3px solid #fff;
    float: left;
}

.square.active{
    position: absolute;

    background: #ffa643;
}